 */p{
color:black;

font-size:16px;
text-align: center;
}

h1 {
 font-family: helvetica;
 font-size: 30px;
 color:red;
 text-align: center;
}
h2 {
  font-family: helvetica;
  font-size: 20px;
  color: black;
  text-align:center;
}
h3 {
  font-family: helvetica;
  font-size: 20px;
  color: black;
  text-align: center;
}
h4 {
  font-family: helvetica;
  font-size: 20px;
  color: black;
  text-align: center;
}
